body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f2c49b;
}

body.dark {
  background-color: #260C06;
  color: #f2c49b;
}
body.dark header, body.dark main, body.dark section, body.dark article, body.dark .about, body.dark .inner-section, body.dark aside, body.dark footer {
  background-color: #260C06;
  color: #f2c49b;
}

header {
  display: flex;
  background-color: #8c7503;
  padding: 2%;
}
header img {
  width: 10vw;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2vw;
}
header h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "League Spartan", sans-serif;
  color: #f2f2f2;
  font-size: 1.5rem;
}

nav {
  overflow: hidden;
  display: block;
  width: 100%;
}
nav .icon {
  display: none;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin-left: 6vw;
  margin-right: 2vw;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25rem;
}

.topnav a:hover {
  background-color: #f2c49b;
  color: #260C06;
}

.topnav a.active {
  background-color: #d9bf3d;
  color: #260C06;
}

main {
  background-color: #f2c49b;
}
main .background {
  width: 100%;
  height: auto;
  object-fit: cover;
}
main .about {
  margin: 3%;
  background-color: #bf815e;
  font-size: 1.3rem;
  padding: 2%;
  margin-bottom: 0;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .about h2 {
  font-family: "Poppins", sans-serif;
  padding-left: 5%;
}
main .title-main {
  display: flex;
  flex-direction: row;
  padding: 3%;
}
main .title-main h2 {
  margin-right: 5vw;
}
main .title-main button {
  background-color: #d9bf3d;
  border: none;
  margin-left: 3vw;
  border-radius: 15px;
}
main .title-main button:hover {
  background-color: #bf815e;
  color: #260C06;
}
main .title-main button:active {
  background-color: #8c7503;
  color: #260C06;
}
main .cart-button {
  position: fixed;
  right: 1vw;
  top: 35vh;
  background: none;
  border: none;
}
main .cart-button i {
  font-size: 2rem;
  color: #f2f2f2;
}

.day-night {
  position: fixed;
  right: 1vw;
  top: 25vh;
  background: none;
  border: none;
}
.day-night i {
  font-size: 2rem;
  color: #f2f2f2;
}

section {
  margin: auto;
  background-color: #f2c49b;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
section article {
  padding: 5%;
  margin: 5%;
  background-color: #bf815e;
}
section article .back-section {
  display: none;
}
section article img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
section article h3 {
  font-size: 1rem;
  height: 2rem;
}
section article .inner-section {
  background-color: #bf815e;
  display: flex;
  flex-direction: column;
  margin: 0;
}
section article .inner-section button {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  margin: 0;
  border-radius: 15px;
  background-color: #8c7503;
  border: none;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  background-color: #8c7503;
  display: inline-block;
  vertical-align: middle;
  flex-direction: column;
  min-width: 30vw;
  overflow: auto;
}
aside button {
  margin: 5%;
  padding: 5%;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  background-color: #d9bf3d;
  border: none;
}
aside .shopping-list {
  margin: 5%;
  list-style-type: disc;
}

footer {
  background-color: #8c7503;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer button {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  width: 30vw;
  border-radius: 15px;
  background-color: #d9bf3d;
  border: none;
  padding: 2%;
  margin: 2%;
}
footer button a {
  text-decoration: none;
}
footer button a:link {
  color: black;
}
footer button a:visited {
  color: #8c7503;
}
footer button a:hover {
  color: #bf815e;
}
footer button a:active {
  color: #f2c49b;
}
footer div {
  display: flex;
  width: 100%;
}
footer div img {
  width: 50%;
  margin: 0;
}
footer .social {
  list-style-type: none;
  padding: 0;
  font-size: 0;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0;
}
footer .social li {
  margin: 10% 30%;
  font-size: 2rem;
  color: #f2f2f2;
}
footer .social li a:link {
  color: #f2f2f2;
}
footer .social li a:visited {
  color: #d9bf3d;
}
footer .social li a:hover {
  color: #bf815e;
}
footer .social li a:active {
  color: #f2c49b;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  header img {
    width: 5vw;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
  }
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 992px) {
  header img {
    width: 5vw;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
  }
  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}/*# sourceMappingURL=style.css.map */